@import "variables";

nav {
  background: $bg-secondary !important;
}

.bg-dark {
  background-color: $bg-primary !important;
}

.bg-gradient {
  background: url('public/bg/bg-gradient.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('public/bg/bg-gradient.png') !important;
}

a, .database {
  cursor: pointer;
  text-decoration: none !important;
}

#vertical-line {
  border-right: 1px #969696 solid;
}

#alert-container {
  position: fixed;
  width: 500px;
  height: 100px;
  margin: 1% auto;
  left: 0;
  right: 0;
  z-index: 100;
}

.col-p2 {
  -ms-flex: 0 0 14.166667%;
  flex: 0 0 14.166667%;
  max-width: 14.166667%;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.conection {
  color: white;
  cursor: pointer;
}

.conection:hover {
  background: $bg-hover;
  color: white;
}

.conection-loading {
  cursor: progress;
}

/*#container-right {*/
/*  height: 92vh;*/
/*  border-left: 2px #3c4349 solid;*/
/*}*/

#context-menu {
  position: fixed;
  z-index: 10000;
  width: 150px;
  background: $bg-context;
  border-radius: 5px;
  display: none;
}

.visible {
  display: block !important;
}

#context-menu .item {
  padding: 8px 10px;
  font-size: 15px;
  color: white;
  cursor: pointer;
  border-radius: inherit;
  display: block;
}

#context-menu .item:hover {
  background: #596267;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.close {
  color: white !important;
  text-shadow: none !important;
  width: 45px;
  font-size: x-large;
}

.modal-header {
  border-bottom: 2px solid #969696 !important;
  align-items: center !important;
}

.modal-content {
  color: white;
  background: $bg-secondary !important;
}

.modal-footer {
  border-top: 2px solid #969696 !important;
}


.table thead th, .table tbody td {
  border-right: 2px solid #969696 !important;
}

.table td, .table th {
  border-top: 2px solid #969696 !important;
}

#table_databases {
  border: 0px solid #596267 !important;
  border-left: 2px solid #969696 !important;
  border-bottom: 2px solid #969696 !important;
}

#table_databases_wrapper {
  margin-top: 2.0rem !important;
}

.table-dark td, .table-dark th, .table-dark thead th {
  border: 2px solid #969696 !important;
}

.connected {
  display: block;

  .server.conection {
    color: $color-success;
    cursor: pointer;
  }

}

@import "login";
@import "loading-spinner";